body {
    background-color: $background-color;
    font-family: $font-stack; 
    color: $font-color;    
}

//Font settings
p { 
    font-size: 0.9em; 
    line-height: 1.6em;  
}

h1, h2, h3, h4, h5, h6 { 
    font-family: $heading-font-stack; 
    text-transform: uppercase; 
}

h1 { font-size: 3.5em; margin-bottom: 50px; }
h2 { font-size: 2.2em ; margin-bottom: 80px; letter-spacing: 0.05em; }
h3 { font-size: 1.5em; margin-bottom: 8px; letter-spacing: 0.05em;  }
h4 { font-size: 1.2em; margin-bottom: 8px; letter-spacing: 0.05em; }
h5 { font-size: 0.9em; margin-bottom: 8px; letter-spacing: 0.05em; }

#wrapper {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

section {
    width: 80%;
    padding: 100px 0;
    margin: 0 auto;
    border-bottom: 1px solid $detail-color;

    h1, h2 { @include gradient-text-color;}     
}

@include laptop {
    section {
        width: 90%;
    }   
} 

@include tablet {
    section {
        width: 95%;
    }
    
} 
//START SECTION
header {
    @include gradient-background-color;
    width: 100%;
    height: 100vh;
    color: #FFFFFF;
    background-size: 400% 400%;
    position: relative;
    //Calling the color-change animation
    animation: color-change 3s infinite alternate;

    #headerText {
        width: 80%; 
        padding: 75px 10%;
        text-align: center;
        border: 8px solid #FFFFFF;
        text-transform: uppercase;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;

        h1 { 
            font-size: 5vw;
            letter-spacing: 0.075em; 
        }
        h2 {
            font-size: 3vw;
            letter-spacing: 0.05em;
            margin: 0;
        }
    } 
}
.mainNav {
    height: 10vh;
      
    .links{
        display: flex;
        width: 45%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        text-transform: uppercase;
        font-weight: 500;
    
        li { 
            letter-spacing: 0.05em;
            padding: 10px 10px;
        }
        li:hover { 
            background-color: #FFF;
        }
        li:hover a {
            @include gradient-text-color-light;
        }
        a {
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}

@include tablet {
    .mainNav {
        position: relative;
        z-index: 2;

        .links {
            @include gradient-background-color-light;
            position: fixed;
            height: 100vh;
            width: 100%;
            flex-direction: column;
            font-size: 1.3em;
            clip-path: circle(100px at 100% -20%);
            -webkit-clip-path: circle(100px at 100% -20%);
            transition: all 1s ease-out;

            li:hover {
                background-color: transparent;
            }

            a:hover  {
                @include gradient-text-color-light;
            }
        }

        .links.open {
            clip-path: circle(1000px at 100% -20%);
            -webkit-clip-path: circle(1000px at 100% -20%);
        }
        .links.close {
            clip-path: circle(100px at 100% -20%);
            -webkit-clip-path: circle(100px at 100% -20%);
        }

        .hamburger {
            position: fixed;
            cursor: pointer;
            right: 3%;
            top: 3%;
            z-index: 3;
            
            .line {
                width: 40px;
                height: 5px;
                background-color: #FFFFFF;
                margin: 6px;
                border-radius: 2.5px;
            }
        }
    }
}

//ABOUT SECTION 
#about {
    h2 { text-align: center; }
    #aboutInfo{
        display: grid;
        grid-template-columns: 60% 40%;
        margin-top: 75px;

        #text {
            padding: 50px 50px 0 0;
            grid-area: 1/1/1/2;

            p { margin-bottom: 40px; }
            ul { 
                margin-top: 30px; 
                li {
                    margin-top: 20px;
                }
            }
        }
        #image {
            grid-area: 1/2/2/3;

            img { 
                border-radius: 150px; 
                display: block;
                margin: 0 auto; 
            }
        }
 
    }
}

//MOBILANPASSNING ABOUT
@include tablet {
    #about {
        #aboutInfo{
            display: block;

            #text {
                width: 100%;
                padding: 0;
                margin-top: 50px;
            }
        }   
        #skills {
            display: flex;
            flex-wrap: wrap;
        }
    }   
}

//CV SECTION
#cv {
    display: grid;
    grid-template-columns: 1fr 1fr;

    h3 {
        @include gradient-text-color-light;
    }

    #employment {
        grid-area: 1/1/1/2;
        padding-right: 20px;
    }
    #education {
        grid-area: 1/2/2/3;
        padding-left: 20px;
    }
    div {
        h2 { margin: 0 auto 60px;} 
        article { 
            margin: 25px 0;
        }
    }
}

@include laptop {
    #cv {
        #employment {
            padding-right: 9px;
        }
        #education {
            padding-left: 9px;
        }

    }
}

@include tablet {
    #cv {
        display: block;

        #employment {
            padding: 0 0 100px 0;
            border-bottom: 1px solid $detail-color;
        }
        #education {
            padding: 100px 0 0 0;
        }

        h2 {
            text-align: center;
        }
    } 

    
    
}


//PROJECTS SECTION
#projects {
    h2 { text-align: center; }
    div {
        display: flex;
        flex-wrap: wrap;
        //align-items: center;
        justify-content: space-around;

        article { 
            width: 30%;
            margin-bottom: 30px;

            h4 {
                @include gradient-text-color-light;
            }

            a {
                color: #FFFFFF;
                font-weight: 700;
            }
            a:hover {
                color: $detail-color;
            }
        }
        @include tablet {
            article {
                    width: 45%;
            }
        }

        @include phone {
            article {
                    width: 100%;
            }
        }

    }
}

//CONTACT SECTION
#contact {
    h2 { text-align: center; }
    #form-contact {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        form {
            width: 50%;
            margin-top: 50px;
        }
        div {
            width: 50%;
            margin-top: 70px;
            padding-left: 10%;

            a {  color: #FFFFFF; }
            a:hover { color: $detail-color; }
        }
    }
    //MEDIAQUERIES FÖR CONTACT
    @include laptop {
        #form-contact {
            width: 100%;
        }
    }
    @include tablet {
        #form-contact {
            display: block;
            form {
                width: 80%;
            }
            div {
                width: 100%;
                padding: 0;
            }
        }
    }
    @include phone {
        #form-contact {
            form {
                width: 100%;
            }   
        }
    }
}
  //FOOTER
footer {
    width: 100%;
    padding: 40px;
    text-align: center;
    font-size: 1.3em;
}